@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grid-white {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23FFFFFF' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

@layer base {
  :root {
    --ock-font-family: "your-custom-value";
    --ock-border-radius: "your-custom-value";
    --ock-border-radius-inner: "your-custom-value";
    --ock-text-inverse: "your-custom-value";
    --ock-text-foreground: "your-custom-value";
    --ock-text-foreground-muted: "your-custom-value";
    --ock-text-error: "your-custom-value";
    --ock-text-primary: "your-custom-value";
    --ock-text-success: "your-custom-value";
    --ock-text-warning: "your-custom-value";
    --ock-text-disabled: "your-custom-value";

    --ock-bg-default: "your-custom-value";
    --ock-bg-default-hover: "your-custom-value";
    --ock-bg-default-active: "your-custom-value";
    --ock-bg-alternate: "your-custom-value";
    --ock-bg-alternate-hover: "your-custom-value";
    --ock-bg-alternate-active: "your-custom-value";
    --ock-bg-inverse: "your-custom-value";
    --ock-bg-inverse-hover: "your-custom-value";
    --ock-bg-inverse-active: "your-custom-value";
    --ock-bg-primary: "your-custom-value";
    --ock-bg-primary-hover: "your-custom-value";
    --ock-bg-primary-active: "your-custom-value";
    --ock-bg-primary-washed: "your-custom-value";
    --ock-bg-primary-disabled: "your-custom-value";
    --ock-bg-secondary: "your-custom-value";
    --ock-bg-secondary-hover: "your-custom-value";
    --ock-bg-secondary-active: "your-custom-value";
    --ock-bg-error: "your-custom-value";
    --ock-bg-warning: "your-custom-value";
    --ock-bg-success: "your-custom-value";
    --ock-bg-default-reverse: "your-custom-value";

    --ock-icon-color-primary: "your-custom-value";
    --ock-icon-color-foreground: "your-custom-value";
    --ock-icon-color-foreground-muted: "your-custom-value";
    --ock-icon-color-inverse: "your-custom-value";
    --ock-icon-color-error: red;
    --ock-icon-color-success: "your-custom-value";
    --ock-icon-color-warning: "your-custom-value";

    --ock-line-primary: "your-custom-value";
    --ock-line-default: "your-custom-value";
    --ock-line-heavy: "your-custom-value";
    --ock-line-inverse: "your-custom-value";
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
